<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('style') }}
  {{ script('script') }}
</head>
<body>
  <section>
    <div id="logo"></div>
    <div id="title"></div>
    <div id="subtitle">
      <p>Broadcast: &nbsp;<span id="message"></span></p>
    </div>
  </section>
</body>
</html>
