body{
  background-color: #1a202c;
  color: #cbd5e0;
  padding: 1rem
}

.console{
  background-color: #2d3748;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.25rem;
  color: #68d391;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  overflow-x: scroll;
  line-height: 1
}
